= content_for :title do
  %h1 Services

.row
  .small-8.columns
    %table
      %thead
        %th= Service.human_attribute_name :name
        %th= Service.human_attribute_name :token
        %th= Service.human_attribute_name :created_at
      %tbody
        = render @services

  .small-4.columns
    = link_to t(:new, scope: [:service]),
              new_service_path,
              class: :button
    %br
    - if current_user.facebook_uid.present?
      = link_to t(:fetch, scope: [:facebook]),
                create_facebook_path,
                method: 'POST',
                class: :button
    - else
      = link_to t(:connect, scope: [:facebook]),
                user_omniauth_authorize_path(:facebook),
                class: :button

