= form_for @receiver do |f|
  .row
    .8.columns
      -if @receiver.errors.any?
        .row
          .12.columns
            %h3= t('receiver.invalid')
            = t('correct_these_fields')
            %ul.disc
              - @receiver.errors.full_messages.each do |msg|
                %li= msg
      .row
        .large-3.columns
          = f.label :nickname
          = f.text_field :nickname

    .4.columns
      = f.submit t('save'), class: 'button'
      = link_to t('cancel'), @receiver
