= content_for :title do
  %h1 Receivers

.row
  .eight.columns
    %table
      %thead
        %th= Receiver.human_attribute_name :nickname
        %th= Receiver.human_attribute_name :uid
        %th= Receiver.human_attribute_name :gcm_id
        %th= Receiver.human_attribute_name :updated_at
        %th= Receiver.human_attribute_name :created_at
      %tbody
        = render @receivers

  .four.columns
    = link_to t('test_notification.send_button'),
              '#',
              class: 'button',
              'data-reveal-id' => 'new_notification_modal'

= content_for :modals do
  #new_notification_modal.reveal-modal
    %h2 Send a test notification
    .form-content
      =render 'notifications/form'
    %a.close-reveal-modal &#215;
