.contain-to-grid
  %nav.top-bar{ 'data-topbar' => '' }
    %ul.title-area
      %li.name
        %h1= link_to 'PushSomething', root_path
    %section.top-bar-section
      %ul.right
        %li= link_to t(:docs, scope: [:topbar]), docs_path
        %li.divider
        - if signed_in?
          %li= link_to t(:signout, scope: [:topbar]), destroy_session_path
        - else
          %li= link_to t(:signin, scope: [:topbar]),
            user_omniauth_authorize_path(:google_oauth2)
    - if signed_in?
      %section.top-bar-section
        %ul.left
          %li= link_to t(:receivers, scope: [:topbar]), receivers_path
          %li= link_to t(:notifications, scope: [:topbar]), notifications_path
          %li= link_to t(:services, scope: [:topbar]), services_path
