.contain-to-grid
  %nav.top-bar
    %ul
      %li.name
        %h1= link_to 'PushSomething', root_path
    - if signed_in?
      %section
        %ul.left
          %li= link_to 'Receivers', receivers_path
          %li= link_to 'Notifications', notifications_path
    %section
      %ul.right
        - unless signed_in?
          %li= link_to 'Sign in with Google!',
            user_omniauth_authorize_path(:google_oauth2)
        - else
          %li= link_to current_user
          %li.divider
          %li= link_to 'Sign out', destroy_session_path
